.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
}


form input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #7952b3;
  border-radius: 5px;
 /* Adds a border color to the form elements */
  outline: none;
  color: #7952b3;
}

input::placeholder,
textarea::placeholder {
  color: #7952b3; /* Change to your desired color */
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  border-color: #aaa; /* Adds a border color to the buttons */
}

button[type="submit"] {
  background-color: white;
  color:#7952b3;
  border: 1px solid;
  border-radius: 50px;

}

button[type="button"] {
  background-color: white;
  color:#7952b3;
  border: 1px solid;
  border-radius: 50px;
  margin-bottom: 10px;
}
  